/****** General ***********/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --text-color: #000;

  --font-size-xs: 0.625rem; /* 10px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.0625rem; /* 17px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.1875rem; /* 19px */
  --font-size-2xl: 1.375rem; /* 22px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  /* min-width: 320px; */
  padding: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-solid {
  color: var(--main-color);
}

.section-title {
  font-size: var(--font-size-2xl);
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.1s;
}

.card:hover {
  transform: scale(1.005);
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
}

.card img {
  object-fit: cover;
}

.card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: var(--font-size-base);
}

.card-subtitle {
  font-size: var(--font-size-sm);
  font-weight: 400;
}

.euro {
  font-weight: 500;
}

.card-rating {
  letter-spacing: -1.5px;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/
header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  height: 19px;
}

.navlink {
  display: flex;
  justify-content: space-around;
  height: 100%;
  gap: 68px;
}

.navlink a {
  display: block;
  font-size: var(--font-size-base);
  font-weight: 400;
  padding-top: 15px;
  border-top: 2px solid transparent;
}

.navlink a:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}

/****** Info group ***********/
.info-group {
  margin: 35px 0;
}

.headline {
  margin-bottom: 35px;
}

.headline h1 {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  color: var(--text-color);
  margin: 8px 0;
}

.headline p {
  font-size: var(--font-size-base);
  font-weight: 400;
}

/****** Search bar ***********/
.search-bar {
  height: 49px;
  display: flex;
  margin-bottom: 35px;
}

.location-dot {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}

.fa-location-dot {
  color: var(--text-color);
  font-size: var(--font-size-lg);
}

.search-bar input {
  width: 195px;
  border: none;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--text-color);
}

.search-bar input::placeholder {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--text-color);
}

.search-bar input:focus {
  outline: none;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar button {
  border: none;
  border-radius: 0 15px 15px 0;
  background: var(--main-color);
  padding: 15px 16px;
  color: #fff;
  font-weight: 700;
  font-size: var(--font-size-lg);
  cursor: pointer;
  user-select: none;
}

.fa-magnifying-glass {
  display: none;
  color: #fff;
}

/****** Filters ***********/
.filters {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.filters h3 {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: var(--font-size-lg);
  font-weight: 700;
  margin-right: 24px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  gap: 10px;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: 700;
  padding: 4px 19px;
  border: 2px solid var(--main-bg-color);
  border-radius: 25px;
  transition: 0.2s;
  background: none;
  user-select: none;
}

.filter-button:hover {
  background: var(--filter-bg-color);
}

.filter-button i {
  font-size: var(--font-size-2xl);
  width: 22px;
  margin-right: 8px;
}

.filter-button .fa-money-bill-wave {
  font-size: var(--font-size-xl);
}

/****** Infobar ***********/
.infobar {
  display: flex;
  align-items: center;
}

.info-logo {
  height: 24px;
  width: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobar i {
  font-size: var(--font-size-xs);
}

.infobar p {
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-weight: 400;
  margin-left: 8px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.hebergements-cards a {
  width: 31%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hebergements-cards img {
  width: 100%;
  height: 114px;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  flex-grow: 1;
  margin-bottom: 5px;
}

.hebergements-cards .card-title {
  margin-bottom: 8px;
}

.hebergements-cards .card-rating {
  font-size: var(--font-size-lg);
}

.see-more {
  display: inline-block;
  font-size: var(--font-size-lg);
  font-weight: 700;
  margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards a {
  display: block;
  margin-top: 30px;
}

.populaires-cards .card {
  display: flex;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  margin-bottom: 2px;
}

/****** Activités ***********/
#activites {
  margin: 35px 0;
  padding: 30px;
}

.activites-cards {
  display: flex;
  justify-content: space-between;
}

.activites-cards a {
  width: 23%;
  margin-top: 30px;
}

.activites-cards .card {
  padding: 0;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

.activites-cards .card-title {
  display: flex;
  align-items: center;
  padding-left: 19px;
  height: 59px;
  margin: 0;
}

/****** Footer ***********/
footer {
  background: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 2%;
}

.about,
.footer-hebergements,
.assistance {
  width: 33%;
}

footer li {
  list-style: none;
  padding-top: 15px;
  font-size: var(--font-size-base);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .search-bar {
    margin-bottom: 25px;
  }

  .filters {
    align-items: start;
  }

  .filter-button {
    font-size: var(--font-size-base);
  }

  .hebergements-and-populaires,
  .filters {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
    margin-bottom: 50px;
  }

  .populaires {
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    margin-top: 20px;
    width: 32%;
  }

  .populaires-cards .card-title,
  .populaires-cards .card-subtitle {
    font-size: var(--font-size-sm);
  }

  .activites-cards img {
    height: 200px;
  }

  .activites-cards .card-title {
    height: 70px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  header,
  .populaires-cards,
  .hebergements-cards,
  .activites-cards,
  footer {
    flex-direction: column;
  }

  .info-group,
  .populaires-cards a,
  .hebergements-cards a,
  .activites-cards a,
  .search-bar,
  .search-bar input,
  .navlink,
  .filters-container,
  .about,
  .footer-hebergements,
  .assistance {
    width: 100%;
  }

  .navlink {
    gap: 0;
  }

  .navlink a {
    width: 50%;
    padding-top: 0;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--main-bg-color);
  }

  .navlink a:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
  }

  .search-bar span {
    display: none;
  }

  .search-bar button {
    width: 49px;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .fa-magnifying-glass {
    display: inline;
  }

  .filters-container {
    gap: 20px 10px;
  }

  .filter-button {
    width: 48%;
    font-size: var(--font-size-sm);
  }

  .info-group {
    padding: 0 20px;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
    padding: 30px 20px;
  }

  .populaires-cards a,
  .hebergements-cards a,
  .activites-cards a,
  .see-more {
    margin-top: 15px;
  }

  .hebergements-and-populaires .hebergements {
    order: 1;
    background-color: white;
    margin-bottom: 0;
  }

  #activites {
    margin-top: 25px;
  }

  #activites .section-title {
    margin-bottom: 20px;
  }

  .activites-cards img {
    height: 141px;
  }

  .activites-cards .card-title {
    height: 59px;
  }

  footer {
    gap: 50px;
    padding: 30px;
  }
}
